/* 右侧用于添加计划的悬浮窗 */
#add-plan-ul li{height:50px;}
#back-to-top{
    display:block;
    width:45px;
    height:45px;
    overflow:hidden;
    cursor:pointer;
}
#add-plan-li{
    display:block;
    width:45px;
    height:45px;
    cursor:pointer;
    border-radius: 50%;
}
#back-to-top{background:url(../images/back-to-top.svg) no-repeat;}

@media (min-width : 768px) {
    /* 右侧用于添加计划的悬浮窗 */
    #add-plan-ul{
        position:fixed;
        top:45%;
        right:50px;
        width:15px;
        z-index:400;
        list-style-type: none;
    }

    #info-form {
        margin-left: 20%;
    }

    #portrait {
        margin-left:11.8%
    }

    .header-simulation {
        height: 200px;
        background-color: rgb(91, 215, 253);
    }
}
@media (min-width : 1200px) {
    /* 右侧用于添加计划的悬浮窗高度 */
    #add-plan-ul{
        top:55%;
    }

    #portrait {
        margin-left:12.8%
    }

    .header-simulation {
        height: 113.15px;
    }
}