/* 右侧用于添加计划的悬浮窗 */
#add-plan-ul li{height:50px;}
#back-to-top{
    display:block;
    width:45px;
    height:45px;
    overflow:hidden;
    cursor:pointer;
}
#add-plan-li{
    display:block;
    width:45px;
    height:45px;
    cursor:pointer;
    border-radius: 50%;
}
@media (min-width : 768px) {
	#add-plan-ul{
        position:fixed;
        top:30%;
        right:50px;
        width:15px;
        z-index:400;
        list-style-type: none;
    }
	
    #month-choice {
        margin-top: 2%;
        width: 20%;
        font-size: 22px;
    }
    #days-table {
        width: 70%;
        margin: auto;
        font-size: 20px;
        text-align: center;
    }
    #days-table th {
        text-align: center;
    }
    #days-table td {
        height: 50px
    }
}
@media (min-width : 1200px) {
	/* 右侧用于添加计划的悬浮窗 */
    #add-plan-ul{
        top:50%;
    }
	
    #month-choice {
        width: 15%;
    }
}