@media (min-width : 768px) {
    .headerHeightAjustment {
        height: 200px;
    }
    .left-part-welcome {
        margin-top: 20%;
        text-align: center;
        font-size: 25px;
        font-weight: bold;
    }
    .left-part-portrait {
        height: 200px;
    }
    .logo-part {
        margin-top: 5%;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
    }
    .right-part-back-to-home {
        margin-top: 26%;
        font-size: 25px;
        text-align: right;
    }
    .right-part-logout {
        margin-top: 26%;
        font-size: 25px;
    }
    #portrait-head {
        height:100%;
        width:100%;
    }
}

@media (min-width : 1200px) {
    .headerHeightAjustment {
        height: 113.15px;
    }
    .left-part-welcome {
        margin-top: 4%;
    }
    .left-part-portrait {
        height: 113.15px;
    }
    .logo-part {
        margin-top: 5px;
    }
    .right-part-back-to-home {
        margin-top: 8%;
        font-size: 25px;
        text-align: right;
    }
    .right-part-logout {
        margin-top: 8%;
        font-size: 25px;
    }
    #portrait-head {
        height:100%;
        width:90%;
    }
}